@media screen and  (max-width:1024px){
    .header1{
        flex-direction: column;
    }
    .header2 nav{
        display: none;
    }
    
}
@media screen and (max-width:881px) {
    .slider h1{
        font-size: 7vh;
    }
    .major-text{
        font-size: 4.5vh;
    }
    .green-text{
        font-size: 2.5vh;
    }
    button{
        width: 160px;
        height: 50px;
    }
    .info{
        text-align: center;
    }
    .carousel{
        grid-template-columns: repeat(2,1fr);
    }
    .carousel-item{
        min-height: 35vh;
    }
    .know-us{
        flex-direction: column;
    }
    .details-container ul{
        grid-template-columns: 1fr;
    }
    .offering{
        position: none;
        height: max-content;
    }
    .carousel-2{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 5vh;
    }
    .carousel-item :not(h2, div){
        display: none;
    }
    
}
@media screen and (max-width:599px){
    button{
        width: 100px;
        height: 40px;
        font-size: 1.5vh;
    }
    .carousel{
        grid-template-columns: 1fr;
    }
    .header1{
        display: none;
    }
    .slider h2{
        margin-bottom: 3%;
    }
    
    .header2 #search{
        margin-left: 0px;
    }
    .header2 .menu{
        width: 30px;
        height: 30px;
    }
    
    .images-container #bottom-image{
        display: none;
    }
    
    .offering .row{
        grid-template-columns: 1fr;
    }
    .carousel-2{
        display: grid;
        grid-template-columns: 1fr;
        gap: 5vh;
    }
    
    
}
@media screen  and (max-width:450px){
    #logo{
        width: 100px;
        height: 20px;
    }
    .slider h1{
        font-size: 4vh;
        line-height: 5vh;
    }
    .slider p{
        font-size: 2vh;
        line-height: normal;
    }
    
}